server:
  port: 8080
spring:
  datasource:
    url: jdbc:mysql://localhost:3306/efurniture?useSSL=false&serverTimezone=UTC
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: 12345
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
#      //org.hibernate.dialect.MySQL8Dialect
      dialect: org.hibernate.dialect.MySQL55Dialect
      format_sql: true
  servlet:
    multipart:
      max-file-size: 50MB
      max-request-size: 50MB
  messages:
    basename: i18n/messages
    encoding: UTF-8
    default-locale: en
  mail:
      host: smtp.gmail.com
      port: 587
      username: tuandinhngoc12301@gmail.com
      password: mkyr wsnm tvmr oxap
      properties:
        mail:
          smtp:
            auth: true
            starttls:
              enable: true
api:
  prefix: api/v1

application:
  security:
    jwt:
      secret-key: "f732d7b5cdea20b0a9a5f3067f245f9f2b24f247684a736a761e623d3de24928"
      expiration: 86400000
      refresh-token:
        expiration: 604800000





